@charset "UTF-8";

body{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 125px;
}

h1,h3, input{
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: rgb(104, 255, 44);
    font-size: 50px;
}

h3{
    color: rgb(146, 144, 144);
    font-size: 25px;
    margin-top: -10px;
}

.botaoCtg{
    background-color: rgb(104, 255, 44);
    width: 210px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
}
