#teste{
	width: 1360px;
	height: 600px;
	background-color: teste;
}

#btnCalc, #btnReset{
	margin-top: 10px;
  margin-left: 120px;
}

body{
  font-family: 'Roboto', sans-serif;
  background-image: url('background.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#demo{
  margin-top: -150px;
  text-align: center;
  font-size: 70px;
}

h1{
  font-size: 80px;
  margin-bottom: 20px;
  text-shadow: red 0 -2px;
}

input{
  margin-left: 80px;
}