@charset "UTF-8";

body{

    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url('hora.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 70px;
    text-shadow: red 0 -2px;
}

h3{
    font-size: 25px;
}


.form-label{
    font-size: 20px;
}
.form-control{
    width: 280px;
}
.btn-secondary{
    width: 200px;
    height: 50px;
}
.contagem{
    font-size: 50px;
}