@charset "UTF-8";

.fechamento{
    color: red;
    display: flex;
    justify-content: flex-end;
}

.logo{
    margin-left: 10px;
    margin-right: 20px;
    width: 100px;
    height: 90px;
}

.box{
    background-color: rgba(0, 0, 0, 0.774);
    height: 100px;
    margin-top: -30px;
}

.txtRodape{
    color: white;
    margin-top: -40px;
}

.imgEmail{
    
}

.field2{
    display: flex;
    flex-direction: column;
}

p{
    color: white;
    margin-top: -57px;
    margin-left: 35px;
}
p.paragrafo2{
    margin-top: 8px;
}
