@charset "UTF-8";

.container{
    background-color: cornflowerblue;
    min-height: 500px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col{
    width: 30%;
    margin-bottom: 40px;
}

/* Desktop */
@media (min-width: 769px){
    .hide-desktop-only{
        display: none;
    }
}

.col img{
    width: 100%;
    height: auto;
}

/* Tablet */
@media (max-width: 768px){
    .col{
        width: 45%;
    }
}

/* Smartphone */
@media (max-width: 400px){
    .col{
        width: 100%;
    }
    .hide-mobile{
        display: none;
    }
}